# OS / editor
.DS_Store
.idea/
.vscode/

# Env / secrets
.env
.env.*
.env.local
!.env.example

# Logs
*.log

# Node
node_modules/
dist/
build/
.next/
.turbo/
.parcel-cache/

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/

# Electron
out/
release/


noise_maker/
